<aside class="sidebar">
    <div class="sidebar-header">
        <a href="{{ url_for('profile_resume') }}">{{ name }}</a>
    </div>
    <nav class="sidebar-nav">
        <a href="{{ url_for('profile_dashboard') }}" class="nav-item {% if active_nav == 'home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('academic_dashboard') }}" class="nav-item {% if active_nav == 'academic' %}active{% endif %}">Academic</a>
        <a href="{{ url_for('interests_dashboard') }}" class="nav-item {% if active_nav == 'interests' %}active{% endif %}">Interests</a>

    </nav>
    <div class="sidebar-footer">
        <button id="themeToggle" class="theme-toggle-btn">
            Toggle theme
        </button>
        <a href="#">Settings</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</aside>
